{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow">
                <div class="card-header bg-success text-white text-center">
                    <h4><i class="fas fa-user-plus"></i> Register</h4>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success btn-block">Sign Up</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    Already have an account? <a href="{% url 'login' %}">Login here</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}